@rendermode InteractiveServer
@inject DatabaseContext Context

<div class="card">
    <div class="card-body bg-light">
        <h4 class="card-title">Add Trainer</h4>
        <EditForm Model="model" OnValidSubmit="Submit" FormName="addTrainerForm">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="name" class="form-label">Name</label>
                    <InputText @bind-Value="model.Name" class="form-control" id="name" name="name" placeholder="Name" required />
                </div>
                <div class="col-md-3">
                    <label for="companion" class="form-label">Companion</label>
                    <InputText @bind-Value="model.Type" class="form-control" id="companion" name="companion" placeholder="Companion" required />
                </div>
            </div>

            <div class="d-grid col-3 float-end">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </EditForm>
    </div>
</div>


@code {
    private Pokemon model;

    protected override void OnInitialized()
    {
        model = new();
    }

    private void Submit()
    {

    }
}